<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
<table width="100%" border="1" cellspacing="0">
    <thead>
    <tr>
        <td>
            <div>
                <p><a th:href="@{/category}">Category</a></p>
                <p><a th:href="@{/banner}">Banner</a></p>
            </div>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div>
                <div>
                    <label>List of category</label>
                    <input type="text" name="filter" form="filter">
                    <form th:action="@{/category/filter}" method="get" id="filter">
                        <button type="submit">Search</button>
                    </form>
                    <form th:action="@{/category}" method="get">
                        <button type="submit">All categories</button>
                    </form>
                </div>
                <table width="100%" border="1" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category: ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td>
                            <div>
                                <form th:action="@{/editCategory/{category_id}(category_id = ${category.id})}"
                                      th:method="get">
                                    <button type="submit">Edit</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <form th:action="@{/createCategory}" method="get">
                <button type="submit">Create new category</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>