<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
    <style>
        .colorText {
        color: red;
        }
    </style>
</head>
<body>
<form method="post" th:action="@{/createCategory}" th:object="${category}" id="save">
<input required type="text" name="name" th:field="*{name}" placeholder="Name" form="save">
<input required type="text" name="requestId" th:field="*{requestId}" placeholder="Request Id" form="save">
    <button type="submit">Save</button>
</form>
<div th:if="${message}">
    <p th:text="${message}" class="colorText"></p>
</div>
</body>
</html>